<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logopic"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logopic"
        android:supportsRtl="true"
        android:theme="@style/Theme.LianFinaleProject">
        <activity
            android:name=".screens.choice_list_or_grouplist"
            android:exported="false" />
        <activity
            android:name=".screens.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".screens.UserActivity"
            android:exported="false" />
        <activity
            android:name=".screens.CartActivity"
            android:exported="false" />
        <activity
            android:name=".screens.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".screens.Odot"
            android:exported="false" />
        <activity
            android:name=".screens.MainActivity"
            android:exported="false" />
        <activity
            android:name=".screens.LogIn"
            android:exported="false" />
        <activity
            android:name=".screens.SignUp"
            android:exported="false" />
        <activity
            android:name=".screens.AddItem"
            android:exported="false" />
        <activity
            android:name=".screens.splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>